<div class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <a href="{{@blog.url}}" class="logotype">timainge.io</a>
      </div>
      <div class="col-sm-6">
        <nav>
          {{#foreach navigation}}
              <a class="nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
          {{/foreach}}
        </nav>
      </div>
      <div class="col-sm-3 hidden-xs contacts">
        <p class="compact">{{> social}}</p>
      </div>
    </div>
  </div>
</div>
