<a href="mailto:tim.ainge@gmail.com">em</a> /
<a href="https://www.facebook.com/tim.ainge">fb</a> /
<a href="https://twitter.com/timainge">tw</a> /
<a href="https://www.linkedin.com/in/timainge/">in</a>
